<launch>
  <!-- gazebo server -->
  <param name="/use_sim_time" value="true" />
  <node name="empty_world_server" pkg="gazebo_ros" type="gzserver" args="$(find cvg_sim_gazebo)/worlds/empty.world" respawn="false" output="screen">
  </node>
  
  <!-- gazebo client -->
  <arg name="script_type" default="gzclient"/>
  <node name="gazebo_gui" pkg="gazebo_ros" type="$(arg script_type)" respawn="false" output="screen"/>
</launch>

